@media screen and (min-width: 810px) {
	.front-page-slideshow {
		height: 380px;
	}

	.front-page-slide-content {
		top: 240px;
		padding: 10px 20px;
	}

}

@media screen and (min-width: 846px) {

	.content-area, 
	.content-sidebar {
		padding-top: 48px;
	}

	.content-area.front-page-template {
		padding-top: 24px;
	}
}