@media screen and (max-width: 400px) {
	.footer-collaborators {

		text-align: center;

		img {
			clear: both;
			width: 100%;
			margin: 0 auto 20px;
		}
	}
}

@media screen and (min-width: 401px) {
}

@media screen and (min-width: 594px) {

	.footer-collaborators {
		text-align: center;

		img {
			max-width: 300px;
			margin-bottom: 30px;
		}
	}

	.site-content .entry-header,
	.site-content .entry-content,
	.site-content .comments-area {
		box-sizing: border-box;
		padding-right: 30px;
		padding-left: 30px;
	}
}