@media screen and (min-width: 1008px) {
	.site:before {
		background: #FFF;
		width: 0;
	}

	.site-content, .site-main .widecolumn {
		margin-left: 0;
	}

	.content-area {
		max-width: 708px;
	}

	#latest-news {
	margin: 20px 0;
	padding: 0 20px;


	.latest-new {
		width: 33%;
		box-sizing: border-box;
		padding: 20px 24px;
		clear: none;
		overflow: hidden;

		.latest-new-img {
			width: 100%;
			height: 120px;
			margin-bottom: 1em;
			float: none;
		}
	}
}

	#secondary, .front-page-sidebar {
		display: block;
		float: right;
		width: 240px;
	}

	.front-page-sidebar {
		background: transparent;
		padding: 24px 20px;
		margin: 0 0 0 -100%;
		min-height: 100vh;

		img {
			width: 100%;
		}
	}

	.site-footer {
		background: $grey-color url(./images/iisg_logo_neg_big.png);
		background-repeat: no-repeat;
		background-position: 20px 48px;
		padding-left: 240px;
	}

	.footer-collaborators {

		display: block;

		.footer-collaborators-img {
			display: inline-block;
			max-width: 33%;
			vertical-align: middle;
		}

		img {
			max-width: 300px;
			box-sizing: border-box;
			padding: 0 20px;
		}
	}

}

@media screen and (min-width: 1040px) {
	.content-area {
		max-width: 740px;
	}

	.content-area .breadcrumbs {
		display: block;
	}

	.full-width .archive-header, 
	.full-width .comments-area, 
	.full-width .image-navigation, 
	.full-width .page-header, 
	.full-width .page-content, 
	.full-width .post-navigation, 
	.full-width .site-content .entry-header, 
	.full-width .site-content .entry-content, 
	.full-width .site-content .entry-summary, 
	.full-width .site-content footer.entry-meta,
	.full-width .site-content .breadcrumbs {
		box-sizing: border-box;
		padding-left: 120px;
		padding-right: 120px;
	}

}

@media screen and (min-width: 1080px) {
	.content-area {
		max-width: 780px;
	}
}

@media screen and (min-width: 1110px) {
	.content-area {
		max-width: 810px;
	}
}

@media screen and (min-width: 1218px) {
	.content-area {
		max-width: 918px;
	}
}

@media screen and (min-width: 1260px) {
	.content-area {
		max-width: 960px;
	}
}
