$blue-iisg: #407EC9;
$blue-dark-iisg: #316AAE;
$purple-iisg: #C964CF;
$grey-color: #6F6F6F;

.links-iisg {
	color: $blue-iisg;

	&:hover {
		color: $purple-iisg;
	}
}

@mixin link-button {
	color: $grey-color;
	padding: .3em .6em;
	border: 1px solid #CCC;
	@include border-radius(4px);

	&:hover {
		background: $purple-iisg;
		color: #FFF;
		border-color: #FFF;
	}
}